<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>API docs for &ldquo;twisted.web.woven.page.Page&rdquo;</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <link href="apidocs.css" type="text/css" rel="stylesheet" />
    
    
  </head>
  <body>
    <h1 class="class">Class t.w.w.p.Page(<a href="twisted.web.woven.model.MethodModel.html">model.MethodModel</a>, <a href="twisted.web.woven.controller.Controller.html">controller.Controller</a>, <a href="twisted.web.woven.view.View.html">view.View</a>):</h1>
    <p>
      <span id="part">Part of <a href="twisted.html">twisted</a>.<a href="twisted.web.html">web</a>.<a href="twisted.web.woven.html">woven</a>.<a href="twisted.web.woven.page.html">page</a></span>
      <a href="http://twistedmatrix.com/trac/browser/tags/releases/twisted-8.0.0//twisted/web/woven/page.py#L11">View Source</a>
      <a href="classIndex.html#twisted.web.woven.page.Page">View In Hierarchy</a>
    </p>
    <div>
      <p>Known subclasses: <a href="twisted.web.distrib.UserDirectory.html">twisted.web.distrib.UserDirectory</a>, <a href="twisted.web.woven.dirlist.DirectoryLister.html">twisted.web.woven.dirlist.DirectoryLister</a></p>
    </div>
    <div><table class="fieldTable"><tr class="fieldStart"><td class="fieldName">Class Variables</td><td class="fieldArg">appRoot</td><td>Set this to True if you want me to call request.rememberRootURL() in my 
getChild, so you can later use request.getRootURL() to get the URL to this 
&quot;application&quot;'s root resource. (You don't have to worry if there 
will be multiple instances of this Page involved in a single request; I'll 
only call it for the upper-most instance).
</td></tr></table></div>
    
    
    <div id="splitTables">
      <table class="children sortable" id="id283">
  
  
  
  
  <tr class="method">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.page.Page.html#__init__">__init__</a></td>
    <td><span>Initialize.
</span></td>
  </tr><tr class="method">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.page.Page.html#getChild">getChild</a></td>
    <td><span>Look for a factory method to create the object to handle the
</span></td>
  </tr><tr class="method">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.page.Page.html#renderView">renderView</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr>
  
</table>
      
        <p>
          Inherited from <a href="twisted.web.woven.model.MethodModel.html">MethodModel</a>:
        </p>
        <table class="children sortable" id="id284">
  
  
  
  
  <tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.MethodModel.html#submodelCheck">submodelCheck</a></td>
    <td><span>Allow any submodel for which I have a submodel.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.MethodModel.html#submodelFactory">submodelFactory</a></td>
    <td><span>Call a wmfactory_name method on this model.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.MethodModel.html#getSubmodel">getSubmodel</a></td>
    <td><span>Get the submodel `name' of this model. If I ever return a
</span></td>
  </tr>
  
</table>
      
        <p>
          Inherited from <a href="twisted.web.woven.model.Model.html">Model</a> (via <a href="twisted.web.woven.model.MethodModel.html">MethodModel</a>):
        </p>
        <table class="children sortable" id="id285">
  
  
  
  
  <tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#__getstate__">__getstate__</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#invalidateCache">invalidateCache</a></td>
    <td><span>Invalidate the cache for this object, so the next time
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#initialize">initialize</a></td>
    <td><span>Hook for subclasses to initialize themselves without having to
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#addView">addView</a></td>
    <td><span>Add a view for the model to keep track of.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#addSubview">addSubview</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#removeView">removeView</a></td>
    <td><span>Remove a view that the model no longer should keep track of.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#setGetter">setGetter</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#setSetter">setSetter</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#notify">notify</a></td>
    <td><span>Notify all views that something was changed on me.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#lookupSubmodel">lookupSubmodel</a></td>
    <td><span>Look up a full submodel name. I will split on `/' and call
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#setSubmodel">setSubmodel</a></td>
    <td><span>Set a submodel on this model. If getSubmodel or lookupSubmodel
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#dataWillChange">dataWillChange</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#getData">getData</a></td>
    <td><span>Return the raw data contained by this Model object, if it is a
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.model.Model.html#setData">setData</a></td>
    <td><span>Set the raw data referenced by this Model object, if it is a
</span></td>
  </tr>
  
</table>
      
        <p>
          Inherited from <a href="twisted.web.woven.controller.Controller.html">Controller</a>:
        </p>
        <table class="children sortable" id="id286">
  
  
  
  
  <tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#setupControllerStack">setupControllerStack</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#importControllerLibrary">importControllerLibrary</a></td>
    <td><span>Import the given object or module into this Controllers's
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#getSubcontroller">getSubcontroller</a></td>
    <td><span>Look for a controller named &quot;controllerName&quot; to handle the 
node
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#setSubcontrollerFactory">setSubcontrollerFactory</a></td>
    <td><span>Set the callable &quot;factory&quot;, which takes a model and should
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#setView">setView</a></td>
    <td><span>Set the view that this controller is related to.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#setNode">setNode</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#setUp">setUp</a></td>
    <td></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#getDynamicChild">getDynamicChild</a></td>
    <td><span>This method is called when getChild cannot find a matching wchild_*
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#wchild_index">wchild_index</a></td>
    <td><span>By default, we return ourself as the index.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#render">render</a></td>
    <td><span>Trigger any inputhandlers that were passed in to this Page,
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#makeView">makeView</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#gatheredControllers">gatheredControllers</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#aggregateValid">aggregateValid</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#aggregateInvalid">aggregateInvalid</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#process">process</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#setSubmodel">setSubmodel</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#handle">handle</a></td>
    <td><span>By default, we don't do anything
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#exit">exit</a></td>
    <td><span>We are done handling the node to which this controller was attached.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#domChanged">domChanged</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.controller.Controller.html#pageRenderComplete">pageRenderComplete</a></td>
    <td><span>Override this to recieve notification when the view rendering
</span></td>
  </tr>
  
</table>
      
        <p>
          Inherited from <a href="twisted.web.resource.Resource.html">Resource</a> (via <a href="twisted.web.woven.controller.Controller.html">Controller</a>):
        </p>
        <table class="children sortable" id="id287">
  
  
  
  
  <tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#listStaticNames">listStaticNames</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#listStaticEntities">listStaticEntities</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#listNames">listNames</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#listEntities">listEntities</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#listDynamicNames">listDynamicNames</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#listDynamicEntities">listDynamicEntities</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#getStaticEntity">getStaticEntity</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#getDynamicEntity">getDynamicEntity</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#delEntity">delEntity</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#reallyPutEntity">reallyPutEntity</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#getChildWithDefault">getChildWithDefault</a></td>
    <td><span>Retrieve a static or dynamically generated child resource from me.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#getChildForRequest">getChildForRequest</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#putChild">putChild</a></td>
    <td><span>Register a static child.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.resource.Resource.html#render_HEAD">render_HEAD</a></td>
    <td><span>Default handling of HEAD method.
</span></td>
  </tr>
  
</table>
      
        <p>
          Inherited from <a href="twisted.web.woven.view.View.html">View</a>:
        </p>
        <table class="children sortable" id="id288">
  
  
  
  
  <tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#getChildWithDefault">getChildWithDefault</a></td>
    <td><span>Return a child with the given name for the given request.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#setupAllStacks">setupAllStacks</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#setUp">setUp</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#setupViewStack">setupViewStack</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#importViewLibrary">importViewLibrary</a></td>
    <td><span>Import the given object or module into this View's view namespace
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#render">render</a></td>
    <td><span>Render a request. This is called on the leaf resource for
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#getTemplate">getTemplate</a></td>
    <td><span>Override this if you want to have your subclass look up its template
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#lookupTemplate">lookupTemplate</a></td>
    <td><span>Use acquisition to look up the template named by self.templateFile,
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#handleDocument">handleDocument</a></td>
    <td><span>Handle the root node, and send the page if there are no
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#handleOutstanding">handleOutstanding</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#recurseChildren">recurseChildren</a></td>
    <td><span>If this node has children, handle them.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#dispatchResult">dispatchResult</a></td>
    <td><span>Check a given result from handling a node and look up a NodeMutator
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#modelChanged">modelChanged</a></td>
    <td><span>Rerender this view, because our model has changed.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#generate">generate</a></td>
    <td><span>Allow a view to be used like a widget. Will look up the template
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#setController">setController</a></td>
    <td><span>Set the controller that this view is related to.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#setNode">setNode</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#setSubmodel">setSubmodel</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#getNodeModel">getNodeModel</a></td>
    <td><span>Get the model object associated with this node. If this node has a
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#getNodeController">getNodeController</a></td>
    <td><span>Get a controller object to handle this node. If the node has no
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#getSubview">getSubview</a></td>
    <td><span>Get a sub-view from me.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#getNodeView">getNodeView</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#handleNode">handleNode</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#handleControllerResults">handleControllerResults</a></td>
    <td><span>Handle a deferred from a controller.
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#handleNewNode">handleNewNode</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#sendPage">sendPage</a></td>
    <td><span>Check to see if handlers recorded any errors before sending the page
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#setSubviewFactory">setSubviewFactory</a></td>
    <td><span>Set the callable &quot;factory&quot;, which takes a model and should
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#__setitem__">__setitem__</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#unlinkViews">unlinkViews</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#dispatchResultCallback">dispatchResultCallback</a></td>
    <td><span>Deal with a callback from a deferred, checking to see if it is
</span></td>
  </tr><tr class="basemethod">
    
    
    <td>Method</td>
    <td><a href="twisted.web.woven.view.View.html#renderFailure">renderFailure</a></td>
    <td><span class="undocumented">Undocumented</span></td>
  </tr>
  
</table>
      
      
    </div>
    
    
    
    <div class="function">
        <a name="twisted.web.woven.page.Page.__init__"></a>
        <a name="__init__"></a>
        <div class="functionHeader">
        
        def __init__(self, *args, **kwargs):
        <a href="http://twistedmatrix.com/trac/browser/tags/releases/twisted-8.0.0//twisted/web/woven/page.py#L23" class="functionSourceLink">
        
        (source)
      </a>
      </div>
        <div class="functionBody">
          <div class="interfaceinfo">from <a href="twisted.web.woven.interfaces.IView.html#__init__">twisted.web.woven.interfaces.IView</a></div><div class="interfaceinfo">overrides <a href="twisted.web.woven.model.Model.html#__init__">twisted.web.woven.model.Model.__init__</a></div><div class="interfaceinfo">overridden in <a href="twisted.web.woven.dirlist.DirectoryLister.html">twisted.web.woven.dirlist.DirectoryLister</a></div>
          <div>Initialize.
<table class="fieldTable"></table></div>
        </div>
      </div><div class="function">
        <a name="twisted.web.woven.page.Page.getChild"></a>
        <a name="getChild"></a>
        <div class="functionHeader">
        
        def getChild(self, name, request):
        <a href="http://twistedmatrix.com/trac/browser/tags/releases/twisted-8.0.0//twisted/web/woven/page.py#L53" class="functionSourceLink">
        
        (source)
      </a>
      </div>
        <div class="functionBody">
          <div class="interfaceinfo">overrides <a href="twisted.web.woven.controller.Controller.html#getChild">twisted.web.woven.controller.Controller.getChild</a></div><div class="interfaceinfo">overridden in <a href="twisted.web.distrib.UserDirectory.html">twisted.web.distrib.UserDirectory</a></div>
          <div>Look for a factory method to create the object to handle the next 
segment of the URL. If a wchild_* method is found, it will be called to 
produce the Resource object to handle the next segment of the path. If a 
wchild_* method is not found, getDynamicChild will be called with the name 
and request.
<table class="fieldTable"><tr class="fieldStart"><td class="fieldName">Parameters</td><td class="fieldArg">name</td><td>The name of the child being requested.
 (type: string
)</td></tr><tr><td></td><td class="fieldArg">request</td><td>The HTTP request being handled.
 (type: <a 
href="twisted.web.server.Request.html"><code>twisted.web.server.Request</code></a>
)</td></tr></table></div>
        </div>
      </div><div class="function">
        <a name="twisted.web.woven.page.Page.renderView"></a>
        <a name="renderView"></a>
        <div class="functionHeader">
        
        def renderView(self, request):
        <a href="http://twistedmatrix.com/trac/browser/tags/releases/twisted-8.0.0//twisted/web/woven/page.py#L63" class="functionSourceLink">
        
        (source)
      </a>
      </div>
        <div class="functionBody">
          <div class="interfaceinfo">overrides <a href="twisted.web.woven.controller.Controller.html#renderView">twisted.web.woven.controller.Controller.renderView</a></div>
          <div class="undocumented">Undocumented</div>
        </div>
      </div>
    
    <address>
      <a href="index.html">API Documentation</a> for <a href="http://twistedmatrix.com/trac/">Twisted</a>, generated by <a href="http://codespeak.net/~mwh/pydoctor/">pydoctor</a> at 2008-03-25 17:55:10.
    </address>
  </body>
</html>